POSTGRES_DB=accessforge
POSTGRES_USER=accessforge
POSTGRES_PASSWORD=replace-me
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,stockforge.signalis.cloud
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,https://stockforge.signalis.cloud,https://stockforge.signalis.cloud:8000
DJANGO_USE_X_FORWARDED_HOST=True
DJANGO_TRUST_X_FORWARDED_PROTO=True
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=replace-me
TIME_ZONE=Asia/Taipei
APP_PORT=8000
